body {
    margin: 0;
    text-align: center;
    background-color: #1B244A;
}

h1{
    height: 36px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    color: #EEEEEE;
}
h2{
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 20px;
}

h3{
    width: 149px;
    height: 36px;
    left: 340px;
    top: 68px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #EEEEEE;    
}
.container {
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    margin: auto;
}

button {
    background: none;
    width: 45px;
    height: 45px;
    border: 1px solid #9AABD8;
    color: #9AABD8;
    background: transparent;
    border-radius: 5px;   
}

.score-box{
    background-color:#080001; 
}
